body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ffe6; /* Light green background */
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
}

.hero img {
    width: 500px;
    height: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Adjust the margin as needed */
}

.products ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products li {
    text-align: center;
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}